* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*REUSABLES COMPONENTS*/
html {
    font-size: 15px;
    font-style: normal;
    font-family: 'Poppins', 'Roboto', sans-serif;
    'Open Sans';
    line-height: 125%;
    background-color: hsl(0, 0%, 98%);
    overflow-x: hidden;
}

/*HEADINGS */
h1 {
    font-size: 125%;
    font-weight: 400;
    text-align: center;
    color: hsl(229, 6%, 66%);
    padding-top: 20px;
    padding-bottom: 10px;
}

h2 {
    font-size: 200%;
    font-weight: 600;
    padding-bottom: 20px;
    text-align: center;
}

h3 {
    font-weight: 600;
    padding: 5%;
}

.explanation-text {

    text-align: center;
    font-weight: 400;
    color: hsl(229, 6%, 66%);
    width: 50%;
    margin-left: 25%;
}

/*BOXES*/

.container {
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin-top: 30px;
}

.karma {
    transform: translateX(119.3%);
}


.calculator,
.supervisor {
    transform: translateY(50%)
}

.box {
    width: 300px;
    height: 220px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    background-color: #fff;
    border-radius: 5px;
    font-size: 90%;
}

.insights {

    color: hsl(229, 6%, 66%);
    margin: 2%;
    margin-left: 5%;
}

/*BOXES TOP BORDERS*/

.supervisor {
    border-top: 6px solid hsl(180, 62%, 55%);
}

.team-builder {
    border-top: 6px solid hsl(0, 78%, 62%);
}

.karma {
    border-top: 6px solid hsl(34, 97%, 64%);
}

.calculator {
    border-top: 6px solid hsl(212, 86%, 64%);
}




.box img {

    float: right;
    width: 60px;
    height: auto;
    margin-top: 36px;
    margin-right: 10px
}

.supervisor img {

    margin-top: 37px;
}

.footer1 a:link,
.footer2 a:link,
.footer1 a:visited,
.footer2 a:visited {
    font-weight: 400;
    color: hsl(229, 6%, 66%);
    text-decoration: none;
    transition: color 0.3s, border 0.3s;
}

.footer1 a:hover,
.footer2 a:hover {
    font-weight: 400;
    color: hsl(34, 97%, 64%);
    text-decoration: none;
    border-bottom: 3px solid #e0e0e0;
}

.footer1 {
    float: left;
    font-size: 80%;
    margin-left: 5px;
}

.footer2 {
    float: right;
    font-size: 80%;
    margin-right: 5px;
}
footer {
    height: 10px;
    
}
